
# true: Print debug messages
# false: only print exceptions
debug=false


# How often to refresh the player count, in millis.
# May be set to zero to refresh on every server poll.
# Setting it to a higher value improves performance.
# I think 5 seconds is often enough and is plenty enough for good performance.
updateInterval=5000